header{
    -webkit-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.23);
    box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.23);
}
header div.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding:0 30px 0;
    min-height: 75px;
    align-items: stretch;
}
div.header__logo{
    display: flex;
    align-items: center;
}

div.header__menu{
    display: flex;
    align-items: stretch;
    flex-grow: 1;
}   
  
div.header__search{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
}